body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #80808075;
}
h1{
    color: #ffffff;
    background-color:  #000000;
    padding: 1.5rem;
}
h2{
    color: #ffffff;
    background-color:  #000000;
    padding: .3rem;
}
img{
    float:right;
    border: 2px #ffffff solid;
    margin: .65rem;
    max-width: 100%;
}
p{
    margin: 1.5rem;
    
}